{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For Projects</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link href="fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {% include 'components/header.html'%}
    <main>
        <div class="horizontal justify-center align-center gap-10 padding-10">
            <div class="web_inputs">
                <input type="text" id="service" name="service" placeholder="Search Service" />
            </div>
            <div class="web_inputs">
                <input type="text" id="city" name="city" placeholder="Search City" />
            </div>
            <div class="web_inputs">
                <input type="text" id="budget" name="budget" placeholder="Search Budget" />
            </div>
            <div><button class="small_btn">Clear</button></div>
            <div class="">
                <button class="main_btn">Search</button>
            </div>
        </div>
        <div class="main_border"></div>
        <div class="horizontal justify-between align-start fullwidth paddingX gap-10">
            <div class="vertical gap-10 scroll_div">
                <div class="fixed_para">
                    <p class="card_text padding-5">40 Jobs Found</p>
                </div>
                {% for job in jobs %}
                <div class="vertical gap-5 align-start justify-start card_border padding-10">
                    <p class="card_text">{{job.project_name}}</p>
                    <div class="horizontal_2 align-center gap-5">
                        <div class="horizontal_2 gap-5 align-center Rating">
                            <i class="fa-solid fa-location-dot"></i>{{job.location}}
                        </div>

                        <div class="hr_line"></div>
                        <p class="small_text">{{job.description}}</p>
                        <div class="horizontal justify-start align-center">
                            <button class="main_btn"
                                onclick="toggleSections('section1', 'section2'); updateJobDetails('{{job.project_name}}', '{{job.description}}','{{job.client_name}}', '{{job.location}}', '{{job.date_placed|date}}', {{job.quotes}}, '{{job.budget}}')">See
                                Details</button>
                        </div>

                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="other_div">
                <div class="bx-shadow vertical justify-center align-center padding-10" id="section1" style="
                margin: 20px auto;">
                    <h2 class="main_head_2">Note</h2>
                    <p class="bold_text margin-bottom">You can Select any of the Projects from this list on the left
                        side.</p>
                </div>
                <div class="bx-shadow padding-10 hidden_sect" id="section2" style="
                margin: 20px auto;">
                    {% include 'components/Single_project.html'%}
                </div>
            </div>
        </div>
    </main>

    {% include 'components/footer.html'%}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>