{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link href="fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    {% include 'components/header.html'%}
    <main>
        <div class="container">
            <h1 class="sub_head_2" style="text-align: center;">Get your free account</h1>
            <form class="vertical gap-20" method="POST">
                 {% csrf_token %} 
                <div class="vertical web_inputs gap-5 justify-start align-start">
                    <label for="email">First Name *</label>
                    <input type="text" id="first_name" name="first_name" value="{{form.first_name|default_if_none:''}}" required>
                </div>
                <div class="vertical web_inputs gap-5 justify-start align-start">
                    <label for="email">Last Name *</label>
                    <input type="text" id="last_name" name="last_name"value="{{form.last_name|default_if_none:''}}" required>
                </div>
                <div class="vertical web_inputs gap-5 justify-start align-start">
                    <label for="email">Email *</label>
                    <input type="email" id="email" name="email" value="{{form.email|default_if_none:''}}" required>
                    <span style="color:red">{{error.email}}</span>
                </div>
                <div class="vertical web_inputs gap-5 justify-start align-start">
                    <label for="password">Password *</label>
                    <input type="password" id="password" name="password" value="{{form.password|default_if_none:''}}" required>
                    <p class="small_text_2">Password must be 8 characters or longer</p>
                    <span style="color:red">{{error.password}}</span>
                </div>
                <div class="vertical web_inputs gap-5 justify-start align-start">
                    <label for="password">Confirm Password *</label>
                    <input type="password" id="password" name="password2" required>
                    <span style="color:red">{{error.password2}}</span>
                </div>
                <div class="horizontal justify-between align-center">
                    <div class="horizontal_2 align-start justify-center gap-5">
                        <input type="radio" id="type" name="account_type" value="client" for='client' style="margin-top: 5px;" required>Client
                        <input type="radio" id="type" name="account_type" value="worker" for='worker' style="margin-top: 5px;" required>Worker
                        
                    </div>
                </div>
                <button class="main_btn">SignUp</button>
                <p>Already have an account? <a href="{% url 'login' %}" class="link_text">Login</a></p>
            </form>
            
        </div>
    </main>

    {% include 'components/footer.html'%}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>