{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Approvals</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link href="fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</head>

<body>
    <div class="main_wrapper">
        {% include 'components/adminsidebar.html'%}
        <div class="right_container">
            <p class="sub_head_2 imptext">Payment Approval</p>
            <div class="content_wrapper">
                <div class="recentmembers box">
                    <div style="overflow-x: auto; width: 100%;">
                    <table class="dash_table">
                        <tr>
                            <th>Project Name</th>
                            <th>Client Name</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                            <th>Receipt</th>
                            <th>Worker Name</th>
                            <th>Approve</th>
                        </tr>
                        {% for payment in approvals %}
                        <tr>
                            <td>{{payment.bid.quote.project_name}}</td>
                            <td>{{payment.client.first_name}} {{payment.client.last_name}}</td>
                            <td>{{payment.bid.bid_amount}}</td>
                            <td>{{payment.TID}}</td>
                            <td><img src="{{payment.get_receipt}}" alt="No Image"/> </td>
                            <td>{{payment.bid.user.first_name}} {{payment.bid.user.last_name}}</td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input name='action' value="accept" hidden readonly>
                                    <input name='order_id' value="{{payment.id}}" hidden readonly>
                                    <button class="main_btn"> Accept </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                </div>
                

            </div>





            <p class="sub_head_2 imptext">Approved</p>
            <div class="content_wrapper">
                <div class="recentmembers box">
                    <div style="overflow-x: auto; width: 100%;">
                    <table class="dash_table">
                        <tr>
                            <th>Project Name</th>
                            <th>Client Name</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                            <th>Receipt</th>
                            <th>Worker Name</th>
                        </tr>
                        {% for payment in approved %}
                        <tr>
                            <td>{{payment.bid.quote.project_name}}</td>
                            <td>{{payment.client.first_name}} {{payment.client.last_name}}</td>
                            <td>{{payment.bid.bid_amount}}</td>
                            <td>{{payment.TID}}</td>
                            <td><img src="{{payment.get_receipt}}" alt="No Image"/> </td>
                            <td>{{payment.bid.user.first_name}} {{payment.bid.user.last_name}}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                </div>
                

            </div>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>