{% load static %}
<div class="main_sidebar">
<div class="sidebar">
    <div>
      <a href="{% url 'homepage' %}">  
        <img src="{% static 'media/logo.png' %}" alt="logo" class="logo_img"></a>
    </div>
    <ul>
        <li>
            <a href="{% url 'admindashboard' %}" class="dashboard">
                <i class="fa-solid fa-house"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="{% url 'recentmembers' %}" class="RecentMembers">
                <i class="fa-solid fa-clipboard-user"></i>
                <p>Recent Members</p>
            </a>
        </li>
        <li>
            <a href="{% url 'recentworkers' %}" class="RecentWorkers">
                <i class="fa-solid fa-users-gear"></i>
                <p>Recent Workers</p>
            </a>
        </li>
        <li>
            <a href="{% url 'recentprojects' %}" class="recentprojects">
                <i class="fa-solid fa-square-plus"></i>
                <p>New Projects</p>
            </a>
        </li>
        <li>
            <a href="{% url 'activeprojects' %}" class="activeprojects">
                <i class="fa-solid fa-chart-line"></i>
                <p>Active Projects</p>
            </a>
        </li>
        <li>
            <a href="{% url 'paymentapprove' %}" class="paymentapprove">
                <i class="fa-solid fa-credit-card"></i>
                <p>Payment Approval</p>
            </a>
        </li>
        <li>
            <a href="/logout" class="dashboard">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>
</div>