{% load static %}
<div class="horizontal align-center gap-10">
    <div class="vertical gap-10">

        <div class="horizontal justify-between align-center">
            <div class="vertical web_inputs">
                <p for="worker_name" class="bold_text_2">Project Title:</p>
                <p class="card_text" id="project_title">Joseph</p>
            </div>
            <button class="main_btn" id="openModalBtn">Bidding</button>
            <div id="AllModal" class="modal">
               
                <div class="modal-content">
                    <div class="modal-header">
                        <p>Worker Info</p>
                        <span class="close">&times;</span>
                    </div>  
                    <div class="vertical justify-start align-start gap-10 padding-10">
                        <div class="web_inputs horizontal fullwidth">
                            <label for="Name">Enter Your Name:</label>
                            <input type="text" id="Name" name="Name" placeholder="Enter Your Name" />
                        </div>
                        <div class="web_inputs horizontal fullwidth">
                            <label for="Email">Enter Your Email:</label>
                            <input type="text" id="Email" name="Email" placeholder="Enter Your Email" />
                        </div>
                        <div class="web_inputs horizontal fullwidth">
                            <label for="project_name">Enter Experience:</label>
                            <input type="text" id="project_name" name="project_name" placeholder="Enter Project Name" />
                        </div>
                        <div class="web_inputs horizontal fullwidth">
                            <label for="project_budget">Enter Project Budget:</label>
                            <input type="text" id="project_budget" name="project_budget" placeholder="Enter Project Budget" />
                        </div>
                        <div class="web_inputs horizontal fullwidth">
                            <label for="project_location">Enter Location</label>
                            <input type="text" id="project_location" name="project_location" placeholder="Enter Project Location" />
                        </div>
                        <div class="horizontal justify-start fullwidth justify-center">
                            <button class="main_btn">Get Quote</button>
                        </div></div>   
                </div>
            </div>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Project Details:</p>
            <p class="card_text" id="project_detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae distinctio.
                Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
        </div>
        <div class="horizontal gap-5">
            <div class="Rating">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="vertical gap-5">
                <p class="card_text" id='user_name'>User Name</p>
            </div>
        </div>
        <div class="horizontal justify-between align-center gap-10 fullwidth">
            <div class="vertical gap-5">
                <p class="small_text">
                    Posted
                </p>
                <p class="bold_text" id="posted">04-06-2024</p>
            </div>
            <div class="vertical gap-5">
                <p class="small_text">
                    Est Budget
                </p>
                <p class="bold_text" id="budget">Rs. 0.00</p>
            </div>
            <div class="vertical gap-5">
                <p class="small_text" >
                    Bidders
                </p>
                <p class="bold_text" id="bids">05</p>
            </div>

        </div>

        <div class="" style="border: 1px solid black; height: 300px; display:none">
            <p>Google Map</p>
            <!--Google Map -->
        </div>
        <div class="vertical gap-5">
            <p class="bold_text_2">Project Images:</p>
            <div class="images_grid">
                <img src="" alt="" class="project_img">
            </div>
        </div>

    </div>
</div>


<script>
    function updateJobDetails(title, description,username, location, posted, bids, budget){
            document.createElementId('project_title').innerText = title;
            document.createElementId('project_detail').innerText = description;
            document.createElementId('user_name').innerText = username;
            document.createElementId('poster').innerText = posted;
            document.createElementId('budget').innerText = budget;
            document.createElementId('bids').innerText = bids;

    }
</script>