{% load static %}
<div class="horizontal align-center gap-10">
    <div class="vertical gap-10">

        <div class="horizontal justify-between align-center">
            <div class="vertical web_inputs">
                <p for="worker_name" class="bold_text_2">Project Title:</p>
                <p class="card_text">Joseph</p>
            </div>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Project Details:</p>
            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae distinctio.
                Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
        </div>
        <div class="horizontal gap-5">
            <div class="Rating">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="vertical gap-5">
                <p class="card_text">User Name</p>
               <p class="card_text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ea nihil libero, consequuntur aliquam aperiam eos quam veniam ratione quibusdam voluptatum qui officiis nobis ab blanditiis recusandae nisi unde debitis.
               </p>
            </div>
        </div>
        <div class="horizontal justify-between align-center gap-10 fullwidth">
            <div class="vertical gap-5">
                <p class="small_text">
                    Posted
                </p>
                <p class="bold_text">04-06-2024</p>
            </div>
            <div class="vertical gap-5">
                <p class="small_text">
                    Est Time
                </p>
                <p class="bold_text">2 Days</p>
            </div>
            <div class="vertical gap-5">
                <p class="small_text">
                    Bidders
                </p>
                <p class="bold_text">05</p>
            </div>
           
        </div>

        <div class="" style="border: 1px solid black; height: 300px;">
            <p>Google Map</p>
            <!--Google Map -->
        </div>
        <div class="vertical gap-5">
            <p class="bold_text_2">Project Images:</p>
            <div class="images_grid">
                <img src="" alt="" class="project_img">
            </div>
        </div>
        
    </div>
</div>