{% load static %}
<div class="gap-10">
    <div class="vertical gap-10">

        <div class="horizontal justify-between align-center">
            <div class="vertical web_inputs">
                <p for="worker_name" class="bold_text_2">Project Title:</p>
                <p class="card_text" id="project_title">Joseph</p>
            </div>
            <button class="main_btn" id="openModalBtn">Send Quotation</button>
            <div id="AllModal" class="modal">        
                <form class="vertical justify-start align-start gap-10 padding-10" action="{% url 'send_bid'%}" method="POST">
                    {% csrf_token %} 
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>Worker Info</p>
                            <span id='closeModalBtn' class="close" onclick="">&times;</span>
                        </div>  
                        <div class="vertical gap-10 align-center padding-10">
                            <input name="quote_id" id="quote_id" value="" hidden>
                            <div class="web_inputs horizontal fullwidth">
                                <label for="project_budget">Enter Project Budget:</label>
                                <input type="text" id="bid_amount" name="bid_amount"  placeholder="Enter Project Budget" required/>
                            </div>
                            <div class="web_inputs horizontal fullwidth">
                                <label for="project_location">Estimated Time</label>
                                <input type="text" id="bid_estimated_time" name="bid_estimated_time"  placeholder="Enter Project Location" required/>
                            </div>
                            
                            <div class="web_inputs horizontal fullwidth">
                                <label for="project_location">Description</label>
                                <textarea type="text" id="bid_description" name="bid_description"  placeholder="Enter Project Location" required></textarea>
                            </div>
                            <div class="horizontal justify-start fullwidth justify-center">
                                <button class="main_btn">Get Quote</button>
                            </div>
                        </div>   
                    </div>
                </form>
            </div>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Project Details:</p>
            <p class="card_text" id="project_detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae distinctio.
                Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
        </div>
        <div class="horizontal gap-5">
            <div class="Rating">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="vertical gap-5">
                <p class="card_text" id='user_name'>User Name</p>
            </div>
        </div>
        <div class="horizontal justify-between align-center gap-10 fullwidth">
            <div class="vertical gap-5">
                <p class="bold_text_2">
                    Posted
                </p>
                <p class="card_text" id="posted">04-06-2024</p>
            </div>
            <div class="vertical gap-5">
                <p class="bold_text_2">
                    Est Budget
                </p>
                <p class="card_text" id="budget__">Rs. </p>
            </div>
            <div class="vertical gap-5">
                <p class="bold_text_2" >
                    Bidders
                </p>
                <p class="card_text" id="bids"></p>
            </div>

        </div>

        <div class="" style="border: 1px solid black; height: 300px; display:none">
            <p>Google Map</p>
            <!--Google Map -->
        </div>
        <!-- <div class="vertical gap-5">
            <p class="bold_text_2">Project Images:</p>
            <div class="images_grid">
                <img src="" alt="" class="project_img">
            </div>
        </div> -->

    </div>
</div>


<script>
    function updateJobDetails(title, description,username, location, posted, bids, budget, id){
        console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>");
        console.log(title, description,username, location, posted, bids, budget);
            document.getElementById('project_title').innerText = title;
            document.getElementById('project_detail').innerText = description;
            document.getElementById('user_name').innerText = username;
            document.getElementById('posted').innerText = posted;
            document.getElementById('budget__').innerText = budget;
            document.getElementById('bids').innerText = bids;
            document.getElementById("quote_id").value = id;

    }

    document.getElementById("openModalBtn").addEventListener("click", function() {
        document.getElementById("AllModal").style.display = "block";
      });
      
      
      document.querySelector(".close").addEventListener("click", function() {
        document.getElementById("AllModal").style.display = "none";
      });
      
</script>