{% load static %}
<div class="horizontal align-center gap-10">
    <div class="vertical gap-10">

        <form action="{% url 'message_pro' %}" method="GET">
            <div class="horizontal justify-between align-center">
                <input name="pro_id" value="" id="pro_id" hidden> 
                <div class="vertical web_inputs">
                    <p for="worker_name" class="bold_text_2">Worker Name:</p>
                    <p class="card_text" id='name'> Joseph</p>
                </div>
                <button class="main_btn" type="submit">Message</button>
            </div>
        </form>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Profession:</p>
            <p class="card_text" id='profession'> Profession</p>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Worker Details:</p>
            <p class="card_text" id="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae distinctio.
                Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Location</p>
            <p class="card_text" id='location'>2</p>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Total Projects:</p>
            <p class="card_text" id="projects">2</p>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Rating:</p>
            <p class="card_text" id="rating">2</p>
        </div>

        <div id="map" class="" style="border: 1px solid black; height: 300px; ">
            <p>Google Map</p>
            <!--Google Map -->
        </div>
        <div id="reviews_div"> 
            <div class="vertical gap-5">
                <p class="bold_text_2">Client Reviews</p>
                <div class="vertical web_inputs">
                    <div class="horizontal justify-between align-center fullwidth">
                        <p class="card_text">Client Name</p>
                        <div class="Rating">
                            <i class="fa-solid fa-star"></i> 5
                        </div>
                    </div>
                    <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae
                        distinctio. Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script>

    function update_worker(name, profession, about, location, projects, rating, pro_id){
        console.log(location);
        codeAddress(location);
        document.getElementById("name").innerText = name;
        document.getElementById("profession").innerText = profession;
        document.getElementById("about").innerText = about;
        document.getElementById("location").innerText = location;
        document.getElementById("projects").innerText = projects;
        document.getElementById("rating").innerText = rating;
        codeAddress(location);
        document.getElementById("pro_id").value=pro_id;


        getReviews(pro_id);

    }


    function getReviews(pro_id){
        $.ajax({
            url:"{% url 'getReviews' %}",
            type: "GET",
            data: {
                worker_id: pro_id
            },
            
            success: function (data) {
                console.log(data);
                add_to_reviews_div(data.feedbacks);
            },

            // Error handling 
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }


    function add_to_reviews_div(reviews){
        
        var reviewsDiv = document.getElementById("reviews_div");
        reviewsDiv.innerHTML = "";

        for(var v = 0; v<reviews.length; v++){

            console.log(reviews[v])
            // Select the element with id "reviews_div"

            // Create a new div element to hold the provided HTML content
            var newDiv = document.createElement("div");
            newDiv.innerHTML = `
                <div class="vertical gap-5">
                    <div class="vertical web_inputs">
                        <div class="horizontal justify-between align-center fullwidth">
                            <p class="card_text" style='font-weight:bolder'>${reviews[v].client}</p>
                            <div class="Rating">
                                <i class="fa-solid fa-star"></i> ${reviews[v].rating}
                            </div>
                        </div>
                        <p class="card_text">${reviews[v].feedback}</p>
                    </div>
                </div>
            `;

            // Append the new div element to the "reviews_div" element
            reviewsDiv.appendChild(newDiv);

        }
        
    }
</script>