{% load static %}
<div class="horizontal align-center gap-10">
    <div class="vertical gap-10">

        <div class="horizontal justify-between align-center">
            <div class="vertical web_inputs">
                <p for="worker_name" class="bold_text_2">Worker Name:</p>
                <p class="card_text">Joseph</p>
            </div>
            <button class="main_btn">Message</button>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Worker Details:</p>
            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae distinctio.
                Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
        </div>
        <div class="vertical web_inputs">
            <p for="worker_name" class="bold_text_2">Total Projects:</p>
            <p class="card_text">2</p>
        </div>
        <div class="" style="border: 1px solid black; height: 300px;">
            <p>Google Map</p>
            <!--Google Map -->
        </div>
        <div class="vertical gap-5">
            <p class="bold_text_2">Client Reviews</p>
            <div class="vertical web_inputs">
                <div class="horizontal justify-between align-center fullwidth">
                    <p class="card_text">Client Name</p>
                    <div class="Rating">
                        <i class="fa-solid fa-star"></i> 5
                    </div>
                </div>
                <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, vitae
                    distinctio. Error dignissimos assumenda pariatur illo dicta nesciunt distinctio impedit!</p>
            </div>
        </div>
        
    </div>
</div>