{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link href="fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</head>

<body>

    <div class="main_wrapper">
        {% include 'components/workersidebar.html'%}
        <div class="right_container">
            <form action="" class="vertical fullwidth gap-20" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="horizontal justify-between align-center fullwidth">
                <p class="sub_head_2 imptext margin-bottom">EditProfile</p>
                <button type="submit" class="main_btn">Save</button>
            </div>
            <div class="vertical gap-20 bg-white padding-10" style="border-radius: 20px;">
                    <div class="horizontal gap-10 justify-between align-center fullwidth ">
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="project-title">First Name</label>
                            <input type="text" value="{{user.first_name}}" name="first_name">
                        </div>
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="project-title">Last Name</label>
                            <input type="text" value="{{user.last_name}}" name="last_name">
                        </div>
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="product-budget">CNIC</label>
                            <input type="text" value="{{user.cnic}}" name="cnic">
                        </div>
                    </div>
                    <div class="horizontal gap-10 justify-between align-center fullwidth">
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="project-title">Phone Number</label>
                            <input type="text" value="{{user.phone}}" name="phone">
                        </div>
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="product-budget">Email Address</label>
                            <input type="text" value="{{user.email}}" name="email" readOnly>
                        </div>
                    </div>
                    <div class="horizontal gap-10 fullwidth">
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="product-desc">Address</label>
                            <textarea rows="5" name="address">{{request.user.address}}</textarea>
                        </div>
                    </div>
                    <div class="horizontal gap-10 justify-between align-center fullwidth">
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="product-budget">Profession</label>
                            <select name="profession" id="profession">
                                <option value="Painters">Painters</option>
                                <option value="Electrician">Electrician</option>
                                <option value="Roofers">Roofers</option>
                                <option value="HandyMan">HandyMan</option>
                                <option value="Landscapers">Landscapers</option>
                                <option value="Plumber">Plumber</option>
                                <option value="Cleaners">Cleaners</option>
                                <option value="AppliancesInstallers">Appliances Installers</option>
                            </select>
                            <script>
                                document.createElementId("profession").value ="{{user.worker_profile.all.0.profession|default_if_none:''}}" == "" ? "Painters" : "{{user.worker_profile.all.0.profession}}";
                            </script>
                        </div>
                        <div class="vertical web_inputs gap-10 fullwidth">
                            <label for="product-budget">Experience</label>
                            <input type="text" value="{{user.worker_profile.all.0.experience}}" name="experience">
                        </div>
                    </div>
                    
                    <div class="fullwidth horizontal align-start gap-20">
                        <div class="vertical product_input gap-10 fullwidth fullheight main_border padding-10">
                        <label for="product-title">Choose Profile Image</label>
                        <div class="image_upload vertical">
                            <div class="horizontal_flex align-center gap-20">
                                <label for="upload" class="file-input-label">Choose File</label>
                                <input type="file" onchange="" id="upload" name="profile_pic" class="file-input" accept="image/*">
                            </div>
                            <div class="vertical fullwidth align-center">
                                <div class="below_image_upload" id="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="fullwidth horizontal align-start gap-20">
                    <div class="vertical product_input gap-10 fullwidth fullheight main_border padding-10">
                        <label for="product-title">Choose CNIC Front Image</label>
                        <div class="image_upload vertical">
                            <div class="horizontal_flex align-center gap-20">
                                <label for="upload" class="file-input-label">Choose File</label>
                                <input type="file" name="cnic_front" onchange=" " id="cnicupload" class="file-input" accept="image/*">
                            </div>
                            <div class="vertical fullwidth align-center">
                                <div class="below_image_upload" id="cnicpreview"></div>
                            </div>
                        </div>
                    </div>
                    <div class="vertical product_input gap-10 fullwidth fullheight main_border padding-10">
                        <label for="product-title">Choose CNIC Back Image</label>
                        <div class="image_upload vertical">
                            <div class="horizontal_flex align-center gap-20">
                                <label for="upload" class="file-input-label">Choose File</label>
                                <input type="file" name="cnic_back" onchange="" id="cnicupload2" class="file-input" accept="image/*">
                            </div>
                            <div class="vertical fullwidth align-center">
                                <div class="below_image_upload" id="cnicpreview2"></div>
                            </div>
                        </div>
                    </div>
                </div>-->
            
                <script> 
                    function uploadFile(upload_id, preview_id){
                        var uploadInput = document.getElementById(upload_id);
                        var preview = document.getElementById(preview_id);

                        console.log(preview);

                         file = uploadInput.files[0];
                         reader = new FileReader();
                         
                         reader.onload = function (e) {
                            const imgContainer = document.createElement('div');
                            const img = document.createElement('img');
                            const closeIcon = document.createElement('span');
                
                            img.src = e.target.result;
                            imgContainer.classList.add('uploaded-image-container');
                            img.classList.add('uploaded-image');
                            closeIcon.classList.add('close-icon');
                
                            closeIcon.innerHTML = '&times;';
                            imgContainer.appendChild(img);
                            imgContainer.appendChild(closeIcon);
                            preview.appendChild(imgContainer);
                
                            closeIcon.addEventListener('click', function () {
                                imgContainer.remove();
                            });
                        };
                
                        reader.readAsDataURL(file);
                    
                    }

                    
                    {% comment %} const uploadInput = document.getElementById('upload');
                    const preview = document.getElementById('preview');
                
                    uploadInput.addEventListener('change', function () {
                        const file = this.files[0];
                        const reader = new FileReader();
                
                        reader.onload = function (e) {
                            const imgContainer = document.createElement('div');
                            const img = document.createElement('img');
                            const closeIcon = document.createElement('span');
                
                            img.src = e.target.result;
                            imgContainer.classList.add('uploaded-image-container');
                            img.classList.add('uploaded-image');
                            closeIcon.classList.add('close-icon');
                
                            closeIcon.innerHTML = '&times;';
                            imgContainer.appendChild(img);
                            imgContainer.appendChild(closeIcon);
                            preview.appendChild(imgContainer);
                
                            closeIcon.addEventListener('click', function () {
                                imgContainer.remove();
                            });
                        };
                
                        reader.readAsDataURL(file);
                    }); {% endcomment %}
               </script>
                {% comment %} <script>  const cnicfrontupload = document.getElementById('cnicupload');
                    const cnicpreview = document.getElementById('cnicpreview');
                
                    cnicfrontupload.addEventListener('change', function () {
                        const file = this.files[0];
                        const reader = new FileReader();
                
                        reader.onload = function (e) {
                            const imgContainer = document.createElement('div');
                            const img = document.createElement('img');
                            const closeIcon = document.createElement('span');
                
                            img.src = e.target.result;
                            imgContainer.classList.add('uploaded-image-container');
                            img.classList.add('uploaded-image');
                            closeIcon.classList.add('close-icon');
                
                            closeIcon.innerHTML = '&times;';
                            imgContainer.appendChild(img);
                            imgContainer.appendChild(closeIcon);
                            cnicpreview.appendChild(imgContainer);
                
                            closeIcon.addEventListener('click', function () {
                                imgContainer.remove();
                            });
                        };
                
                        reader.readAsDataURL(file);
                    });
               </script> {% endcomment %}
            </div>
            </form>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>