{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link href="fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


</head>

<body>
    <div class="main_wrapper">
        {% include 'components/workersidebar.html'%}
        <div class="right_container">
            <div class="horizontal justify-between align-center fullwidth margin-bottom">
                <p class="sub_head_2 imptext margin-bottom">Profile</p>
                <a href="{% url 'editworkerprofile' %}"><button class="main_btn">Edit Profile</button></a>
            </div>
            <div class="horizontal gap-10 justify-start align-start card_shadow padding-10">
                <div class="vertical">
                    <img src="{{user.get_profile_pic}}" alt="" class="profile_img">
                </div>
                <div class="vertical gap-20 justify-start fullwidth">
                        <div class="vertical gap-10">
                            <p class="card_heading">Full Name</p>
                            <p class="card_text">{{user.first_name}} {{user.last_name}}</p>
                        </div>
                        <div class="vertical gap-10">
                            <p class="card_heading">Email</p>
                            <p class="card_text">{{user.email}}</p>
                        </div>
                       <div class="vertical gap-10">
                            <p class="card_heading">Phone Number</p>
                            <p class="card_text">{{user.phone}}</p>
                        </div>
                       <div class="vertical gap-10">
                            <p class="card_heading">Complete Address</p>
                            <p class="card_text">{{user.address}}</p>
                        </div>
                       <div class="vertical gap-10">
                            <p class="card_heading">Profession</p>
                            <p class="card_text">{{user.worker_profile.all.0.profession}}</p>
                        </div>
                       <div class="vertical gap-10">
                            <p class="card_heading">Experience</p>
                            <p class="card_text">{{user.worker_profile.all.0.experience}}</p>
                        </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>